
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    
}


header>h1 {
    font-size: 10vh;
    
}

header>h2 {
    font-size: 7vh;
}

nav {
    /*positonnement sur la page*/
    position: fixed;
    top : -25vh;
    z-index: 10;
    /*taille et apparence de base du nav (menu)*/
    height: 75vh;
    width : 25vw;
    
    background-color: #000000;
    color: #f5f5f5;
    /*optionnel*/
    background-image: url("../assets/headerBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*réglage de la disposition des boutons*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}

.bouton {
    /*formatage du texte*/
    color: #f5f5f5;
    text-decoration: none;
    font-family: "birds";
    font-size: 4vh;
    display:block;
    background-color: #1f1f1f;
    border-radius: 1vh;
    padding: 0.5vh;
    width : 14vw;
    text-align: center;
    transition: box-shadow 500ms;
}

.bouton:hover {
    /*color: #1f1f1f;
    background-color: #f5f5f5;*/
    box-shadow: #f5f5f5 5px 5px 10px 0;
}

main {
    /*positonnement sur la page*/
    position: relative;
    top : 25vh;
    width : 100vw;
    transition : width 1s, left 1s;
}

footer {
    position: fixed;
    width : 80vw;
    z-index: 10;
    bottom: 0;
    left : 20vw;
    height: 10vh;
    background-image: url("../assets/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}